.whole{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 6fr));
  justify-content: center;
  grid-gap: 50px;
  font-family: 'Ubuntu', sans-serif;
}

.left{
  padding: 0%;
}

.right{
  width: 50%;
}
.heading{
color: rgb(4, 0, 241);
font-size:500%;
}

.feat{
  display:flex;
}

.logo{
  align-content: center;
}

.deaf{
  align-content: center;
}
/* linear-gradient(to bottom, #87ebff, #ffffff); */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* Float four columns side by side */
.column {
  display:flex;
  float: left;
  width:25%;
  padding: 0 10px;
  justify-content: space-around;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  display:flex;
  justify-content: space-around;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #589dca;
  color: aliceblue;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.fa{
  size: 50%;
}

.img{
  transition: .3s transform ;
}
.img:hover{
  transform: scale(1.05);
}

.card{
  border-radius: 4px;
  color: black;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 14px 80px 18px 36px;
cursor: pointer;
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  
font-weight: 600;
}

.card img{
position: absolute;
top: 20px;
right: 15px;
max-height: 120px;
}

.card-1{
background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2{
 background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3{
 background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media(max-width: 990px){
.card{
  margin: 20px;
}
} 