{% extends "base.html" %}
{% load static %}
{% block content %}

<style>

</style>



<br>
<br>
<br>
<br>
<br>
<br>
<div class="whole">
    <div class="left">
        <h1 class="heading">We Care</h1><br>
        <h4>We are aiming to solve the problems faced by people with disabilities who
            require continuous assistance. We aim to make them self dependent in external
            environment. Also every disabled person isn't of means and not everyone can afford
            to hire a personal attendant.
        </h4>
    </div>

    <div class="right">
        <img src="{% static 'frontend/assets/img/doctor1.png' %}" alt="">
    </div>
</div>
<br>
<br>
<br>
<br>

<div>
    <h2>What we have to offer:</h2><br>

    <div class="container text-dark">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-1">
                    <h3>Ionic Native</h3>
                    <p>A curated set of ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality
                        to
                        .</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-2">
                    <h3>UI Components</h3>
                    <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
                        of mobile UI components, ready to go.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-3">
                    <h3>Theming</h3>
                    <p>Learn how to easily customize and modify your app’s design to fit your
                        brand across all mobile platform styles.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

{% endblock %}